@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/** Theme description */
:root {
	--color-text: #f4f6f9;
	--color-background: #282d3f;
	--color-background-variant: #262b3f;
	--color-foreground: #2b3147;
	--color-foreground-variant: #38405e;
	--color-primary: #2f52ca;
	--color-primary-variant: #2f53ca9a;
	--color-accent: #e9f345;
	--color-accent-variant: #eef826;
}

/** Text appearance */
html {
	font-family: Montserrat;
}

* {
	color: var(--color-text);
}

[type=text] {
	color: var(--color-text);
}

::placeholder {
	color: var(--color-text);
	filter: opacity(70%);
}

/** Scollbar */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: var(--color-foreground);
}

::-webkit-scrollbar-thumb {
	background: var(--color-foreground-variant);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--color-primary);
}